<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84290182162-0mngntjn5jdr1ajlfjqejl36blcf51ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84290182162-0mngntjn5jdr1ajlfjqejl36blcf51ds</string>
	<key>API_KEY</key>
	<string>AIzaSyBFQtSYJQEDak4DD3GWPJrc-5WN_6zro5A</string>
	<key>GCM_SENDER_ID</key>
	<string>84290182162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vietnl.MessageKit</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ee27a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ee27a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84290182162:ios:fe6fd7c0dd42bdc2c00ccb</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-ee27a.firebaseio.com</string>
</dict>
</plist>